body {
    background: #e5e5e5;
    padding: 40px;
}
.wrapper {
    background: $c-mid-grey;
    border-radius: 20px;
    min-height: calc(100vh - 80px);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}
