@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}
$fadeIn: fadeIn ease-in-out;

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}
$fadeOut: fadeOut ease-in-out;

@keyframes fadeAndSlide {
    0% {
        transform: translateX(-50px);
        opacity: 1;
    }
}
$fadeAndSlide: fadeAndSlide ease-in-out;

@keyframes fadeAndSlideRight {
    0% {
        transform: translateX(+60px);
        opacity: 0;
    }
}
$fadeAndSlideRight: fadeAndSlideRight ease-in-out;

@keyframes slideRight {
    0% {
        transform: translateX(+60px);
    }
}
$slideRight: slideRight ease-in-out;

@keyframes bgFade {
    0% {
        background: $c-dark-grey;
    }
}
$bgFade: bgFade ease-in;
