/*
 * Responsive Breakpoints
 */

// $bp-extra-small: 320px;
// $bp-small: 475px;
$bp-extra-small: 350px;
$bp-small: 450px;
$bp-medium: 650px;
$bp-large: 800px;
$bp-large-2: 1135px;
$bp-extra-large: 1200px;
$bp-wide: 1720px;

$bp-mobile: $bp-small;
$bp-tablet: 768px;
$bp-tablet-large: 1024px;
$bp-desktop: 1440px;

/*
 * Content Widths
 */

$grid: 1176px;
