/*
 * Generic
 */

$c-black: #000000;
$c-white: #ffffff;
$c-light-grey: #e5e5e5;
$c-mid-grey: #f6f6f6;
$c-dark-grey: #ededed;
$c-darker-grey: #a9a9a9;
$c-darkest-grey: #747474;
$c-almost-black: #2d2d2d;

$c-light-blue: #2a8fbb;
$c-blue: #0672a4;
$c-dark-blue: #096e9d;
$c-darkest-blue: #05608b;

$c-green: #0ecd21;
$c-orange: #ed9227;
$c-red: #e40f0f;

/*
 * Typography
 */
$c-text-primary: $c-almost-black;
$c-text-secondary: $c-black;
$c-heading: $c-orange;
$c-paragraph: $c-almost-black;
$c-label: $c-white;
$c-link: $c-blue;
