/*
 * Font Family
 */

@import url('https://fonts.googleapis.com/css?family=Roboto|Viga&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

$f-viga: 'Viga', sans-serif;
$f-roboto: 'Roboto', sans-serif;

$f-primary: $f-roboto;
$f-secondary: $f-viga;

/*
 * Font Weights
 */

$fw-bold: 700;
$fw-regular: 400;
$fw-light: 300;
$fw-extraLight: 200;

/*
* Letter spacing
*/
$ls-closeLetters: -1px;
$ls-bigDistance: 5px;
$ls-smallDistance: 1px;

/*
 * Font Sizes
 */

$rem-baseline: 16px;

/* Desktop */

$txt-large: 28px;
$txt-medium: 20px;
$txt-regular: 16px;
$txt-small: 14px;
$txt-xsmall: 11px;

$p-regular: 18px;
$p-small: 16px;

$h-1: 40px;
$h-2: 32px;
$h-3: 28px;
$h-4: 24px;
$h-5: 20px;
$h-6: 14px;

/* Responsive */

/* Tablet */

$txt-large-tablet: 20px;
$txt-medium-tablet: 18px;
$txt-regular-tablet: 16px;
$txt-small-tablet: 14px;

$p-regular-tablet: 16px;
$p-small-tablet: 14px;

$h-1-tablet: 40px;
$h-2-tablet: 28px;
$h-3-tablet: 24px;
$h-4-tablet: 20px;
$h-5-tablet: 16px;
$h-6-tablet: 14px;

/* Mobile */
$txt-large-mobile: 18px;
$txt-medium-mobile: 16px;
$txt-regular-mobile: 14px;
$txt-small-mobile: 12px;

$p-regular-mobile: 16px;
$p-small-mobile: 14px;

$h-1-mobile: 36px;
$h-2-mobile: 24px;
$h-3-mobile: 20px;
$h-4-mobile: 16px;
$h-5-mobile: 14px;
$h-6-mobile: 12px;
