/*
 * Font Family
 */

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');

$f-raleway: "Raleway", sans-serif;

$f-primary: $f-raleway;

/*
 * Font Weights
 */

$fw-bold: 700;
$fw-regular: 400;
$fw-light: 300;
$fw-extraLight: 200;

/*
* Letter spacing
*/
$ls-closeLetters: rem(-1px);
$ls-bigDistance: rem(5px);
$ls-smallDistance: rem(1px);

/*
 * Font Sizes
 */

$rem-baseline: 16px;

/* Desktop */

$txt-large: rem(28px);
$txt-medium: rem(20px);
$txt-regular: rem(16px);
$txt-small: rem(14px);
$txt-xsmall: rem(11px);

$p-regular: rem(18px);
$p-small: rem(16px);

$h-1: rem(40px);
$h-2: rem(32px);
$h-3: rem(28px);
$h-4: rem(24px);
$h-5: rem(20px);
$h-6: rem(14px);

/* Responsive */

/* Tablet */

$txt-large-tablet: rem(20px);
$txt-medium-tablet: rem(18px);
$txt-regular-tablet: rem(16px);
$txt-small-tablet: rem(14px);

$p-regular-tablet: rem(16px);
$p-small-tablet: rem(14px);

$h-1-tablet: rem(40px);
$h-2-tablet: rem(28px);
$h-3-tablet: rem(24px);
$h-4-tablet: rem(20px);
$h-5-tablet: rem(16px);
$h-6-tablet: rem(14px);

/* Mobile */
$txt-large-mobile: rem(18px);
$txt-medium-mobile: rem(16px);
$txt-regular-mobile: rem(14px);
$txt-small-mobile: rem(12px);

$p-regular-mobile: rem(16px);
$p-small-mobile: rem(14px);

$h-1-mobile: rem(36px);
$h-2-mobile: rem(24px);
$h-3-mobile: rem(20px);
$h-4-mobile: rem(16px);
$h-5-mobile: rem(14px);
$h-6-mobile: rem(12px);
