.questionsPage {
    padding-bottom: 100px;
}
.questionsPage__header {
    position: relative;
    width: 100%;
    padding: 120px 0 150px 0;
    background: $c-mid-grey;
    z-index: 10;
}
.questionsPage__title {
    text-align: center;
    font-size: $h-1;
    color: $c-orange;
    font-family: $f-viga;
    animation: $fadeAndSlide 0.5s;
}
.questionsPage__results {
    display: flex;
    justify-content: center;
    animation: $fadeAndSlide 0.45s;
    p {
        font-family: $f-roboto;
        color: $c-darkest-grey;
        font-size: $p-small;
        &:first-child {
            margin-right: 10px;
        }
        em {
            font-family: $f-roboto;
            color: $c-almost-black;
            font-style: normal;
        }
    }
}
.questions {
    transition: 0.25s ease-in-out;
    z-index: -1;
    width: 100%;
    text-align: center;
}
.questions__question {
    width: 100%;
    background: #f9f9f9;
    padding: 30px 50px;
    font-family: $f-roboto;
    animation: $bgFade 0.3s;
    margin-bottom: 30px;
    &:last-of-type {
        margin-bottom: 40px;
    }
    &.selectedQ {
        background: $c-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        border-top: 1px solid $c-dark-grey;
        border-bottom: 1px solid $c-dark-grey;
        .questions__question--question {
            color: $c-black;
        }
        .questions__question--answers button {
            background: $c-dark-grey;
            color: $c-black;
        }
    }
}
.questions__question--header {
    display: flex;
    justify-content: space-between;
}
.fadeAndSlide {
    opacity: 1 !important;
    animation: $fadeAndSlide 0.3s;
}
.questions__question--rightA {
    color: $c-green;
    font-size: 22px;
    opacity: 0;
}
.questions__question--wrongA {
    color: $c-red;
    font-size: 22px;
    opacity: 0;
    display: none;
}
.questions__question--number {
    color: $c-darkest-grey;
    font-size: $p-small;
    margin-bottom: 30px;
}
.questions__question--question {
    color: $c-darkest-grey;
    font-size: $p-regular;
    margin-bottom: 30px;
    text-align: left;
}
.questions__question--answers {
    text-align: left;
}
.questions__question--answers button {
    padding: 10px 50px;
    background: $c-dark-grey;
    font-size: $p-small;
    margin-right: 20px;
    border-radius: 5px;
    color: $c-darker-grey;
    transition: 0.2s box-shadow ease-in-out;
    &:hover:enabled {
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14);
    }
}
.questionsPage__ghostBtn {
    font-family: $f-roboto;
    text-decoration: none;
    color: $c-almost-black;
    border: 1px solid $c-almost-black;
    border-radius: 12px;
    padding: 10px 40px;
    font-size: $p-regular;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    transition: 0.15s all ease-in-out;
    &:hover {
        background: $c-almost-black;
        color: $c-orange;
    }
    &.inactiveLink {
        pointer-events: none;
        cursor: default;
        color: $c-darker-grey;
        border-color: $c-darker-grey;
    }
}
