.opSlider {
    width: 100%;
    animation: $fadeAndSlideRight 0.5s;
}
.opSlider__description {
    font-size: $p-regular;
    font-family: $f-roboto;
    margin-bottom: 40px;
    text-align: center;
}
.opSlider__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
.opSlider__slide--link {
    display: none;
    margin: 0 150px;
    text-decoration: none;
    &:hover .opSlider__slide--symbol {
        background: #e2e2e2;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    }
    &.selected {
        display: block;
    }
}

.opSlider__slide--symbol {
    background: $c-dark-grey;
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 16px;
    transition: 0.2s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opSlider__slide--symbol i {
    color: $c-orange;
    font-size: 60px;
}
.opSlider__slide--symbolName {
    font-family: $f-roboto;
    font-size: $p-small;
    text-align: center;
    color: $c-almost-black;
}
.opSlider__slide--nextSlide {
    margin-bottom: 40px;
    font-size: $txt-large;
    color: $c-darkest-grey;
    transition: 0.2s color ease-in-out;
    width: 40px;
    height: 40px;
    &:hover {
        color: $c-black;
        cursor: pointer;
    }
}
.opSlider__slide--previousSlide {
    margin-bottom: 40px;
    font-size: $txt-large;
    color: $c-darkest-grey;
    transition: 0.2s color ease-in-out;
    width: 40px;
    height: 40px;
    &:hover {
        color: $c-black;
        cursor: pointer;
    }
}
